{% extends "layouts/base.html" %}

{% block title %} Hurto a personas {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Hurto a personas</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Chart</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Hurto a personas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ Morris Chart ] start -->
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5> {{ chart_1_title }} </h5>
                            </div>
                            <div class="card-block">
                                {% autoescape off %}
                                {{ chart_1 }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5> {{ chart_2_title }} </h5>
                            </div>
                            <div class="card-block">
                                {% autoescape off %}
                                {{ chart_2 }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5> {{ chart_3_title  }} </h5>
                            </div>
                            <div class="card-block">
                                {% autoescape off %}
                                {{ chart_3 }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5> {{ chart_4_title }} </h5>
                            </div>
                            <div class="card-block">
                                {% autoescape off %}
                                {{ chart_4 }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5> {{ chart_5_title }}</h5>
                            </div>
                            <div class="card-block">
                                {% autoescape off %}
                                {{ chart_5 }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5> {{ chart_6_title }} </h5>
                            </div>
                            <div class="card-block">
                                {% autoescape off %}
                                {{ chart_6 }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5> {{ chart_7_title }}</h5>
                            </div>
                            <div class="card-block">
                                {% autoescape off %}
                                {{ chart_7 }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                    <!-- [ Morris Chart ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
